<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.josephplattenberger.jotit">

    <application
        android:name="com.josephplattenberger.jotit.JotIt"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".EditNoteActivity"
            android:label="@string/title_activity_edit_note"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EditThemesActivity"
            android:label="@string/title_activity_edit_themes"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".GroupsActivity"
            android:label="@string/title_activity_groups"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_help" >
        </activity>
        <activity
            android:name=".ViewGroupActivity"
            android:label="@string/title_activity_view_group"
            android:screenOrientation="portrait"
            android:parentActivityName="com.josephplattenberger.jotit.GroupsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.josephplattenberger.jotit.GroupsActivity" />
        </activity>
        <receiver android:name=".AlarmReceiver"></receiver>
    </application>

</manifest>
